@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
	font-family: "Kanit", sans-serif;
}

.grey {
	background-color: lightgrey;
}

.green {
	background-color: lightgreen;
}

.orange {
	background-color: orange;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 2rem;
}

h1,
h2 {
	font-weight: bold;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.title-container .budget-headers {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10rem;
}

.budget-headers div {
	border: 0.1rem solid black;
	padding: 1rem;
	border-radius: 0.5rem;
}

.budget-headers div button {
	border: none;
	padding: 0.2rem 0.6rem;
	margin-left: 0.5rem;
	border-radius: 50%;
}

.budget-headers div button:hover {
	background-color: lightblue;
}

.new-expense-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	margin-top: 2.5rem;
}

.new-expense-container h2 {
	font-weight: bold;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5rem;
}

input[type="submit"] {
	border: none;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: #ffff00;
	color: black;
	box-shadow: 0.1rem 0.2rem;
}

input[type="submit"]:active {
	box-shadow: -0.1rem -0.2rem;
}


input[type="submit"]:hover {
	background-color: #ffff99;
}

input[type="text"],
input[type="number"] {
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: 0.1rem solid black;
}

input[type="text"]:focus,
input[type="number"]:focus {
	outline: none;
}

.expenses-list {
	overflow-y: auto;
	height: 15rem;
	border: solid black 0.1rem;
	padding: 1.5rem;
	border-radius: 0.5rem;
	background-color: #ffff99;
}


.expense-item {
	display: flex;
	justify-content: space-between;
	gap: 20rem;
	align-items: center;
	padding: 1rem;
	margin-top: 0.1rem;
	border: solid black 0.1rem;
	border-radius: 0.5rem;
	background-color: white;
}

.item-cost {
	font-weight: bold;
	background-color: aquamarine;
	padding: 0.5rem;
	border-radius: 50%;
}
